
.svg-assets {
    display: none
}

.svg-assets path {
    stroke-width: inherit
}

.-off-screen {
    clip: rect(1px, 1px, 1px, 1px);
    color: #000;
    height: 1px;
    margin: 0;
    overflow: hidden;
    position: absolute !important;
    user-select: none;
    width: 1px
}

img{
    display: inline-block;
    height: auto;
    max-width: 100%;
}

a{
    text-decoration: none;
}
