
.svg-assets {
    display: none
}

.svg-assets path {
    stroke-width: inherit
}

.-off-screen {
    clip: rect(1px, 1px, 1px, 1px);
    color: #000;
    height: 1px;
    margin: 0;
    overflow: hidden;
    position: absolute !important;
    user-select: none;
    width: 1px
}

img{
    display: inline-block;
    height: auto;
    max-width: 100%;
}

a{
    color: $gn-color-link;
    text-decoration: none;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    &.small{
        height: 0.3rem !important;
        @include media-breakpoint-up(sm){
            height: 0.5rem !important;
        }
    }
  }

.container{
    @include media-breakpoint-down(sm){
        width: auto;
        margin-right: 1rem;
        margin-left: 1rem;
        }
    }

    .card-img,
    .card-img-top,
    .card-img-bottom,
    .card-footer{
        padding: calc(var(--#{$prefix}card-img-overlay-padding) / 4);
        @include media-breakpoint-up(md){
            padding: var(--#{$prefix}card-img-overlay-padding / 2);
        }
    }
    
    .card-body{
            padding: calc(var(--#{$prefix}card-spacer-y) / 4) calc(var(--#{$prefix}card-spacer-x) / 4);
    }

