

body {
    margin: 0;
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    line-height: $body-line-height;
    color: $body-color;
    text-align: $body-text-align;
    background-color: $body-bg; 
}

